/* JavaFX CSS Style with -fx- prefix */

.main-button{
    -fx-background-color:#B81E24;
    -fx-background-radius:10px;
}

.main-button:hover{
    -fx-background-color:#DB520B;
}

.menu-button{
    -fx-background-color:Transparent;
    -fx-background-radius:10px;
}

.menu-button:hover{
    -fx-background-color:#b3b3b340;
}

.gameselector-button{
    -fx-background-color:#0E1629;
    -fx-background-radius:10px;
    -fx-padding:0 0 0 20;
}

.gameselector-button:hover{
    -fx-background-color:#121c34;
}

.separator .line{
    -fx-background-color:#DC2525;
    -fx-border-color: transparent;
    -fx-pref-width:2;
    -fx-pref-height:2;
}

.scroll-pane, .scroll-pane:focused, .scroll-pane .viewport{
    -fx-background-color:Transparent;
}

.scroll-bar .increment-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-button, .scroll-bar .decrement-arrow{
    -fx-background-color:Transparent;
    -fx-padding:0px;
}

.scroll-bar .track{
    -fx-background-color:#991A1A;
    
}

.scroll-bar .thumb{
    -fx-background-color:#DC2525;
    -fx-border-radius:0;
    -fx-background-radius:0;
}

.scroll-bar{
    -fx-pref-width: 12px;
    -fx-pref-height: 12px;
    -fx-background-color:#292929;
}

.context-menu{
    -fx-background-color:#1d283b;
    -fx-border-color:#313F52;
    -fx-background-radius:10px;
    -fx-border-radius:10px;
}

.combo-box-base{
    -fx-background-color:#324053;
    -fx-background-radius:2px;
    -fx-padding:0 10 0 10;
}

.combo-box-base .list-cell{
    -fx-background-color:Transparent;
    -fx-background-radius:2px;
    -fx-text-fill:White;
    -fx-font-size:12px;
}

.combo-box-base .arrow-button .arrow{
    -fx-background-color:White;
}

.combo-box-base .combo-box-popup .list-view{
    -fx-background-color:#324053;
    -fx-background-radius:2px;
}

.combo-box-base .combo-box-popup .list-view .list-cell:filled:selected{
    -fx-text-fill:White;
    -fx-background-color:#272b33;
}

.context-menu .menu-item{
    -fx-background-color:Transparent;
    -fx-background-radius:10px;
    -fx-pref-height:40px;
    -fx-pref-width:144px;
}

.context-menu .menu-item .label, .combo-box-base .list-cell .label{
    -fx-text-fill:White;
}

.context-menu .menu-item:hover, .combo-box-base .list-cell:hover{
    -fx-background-color:#b3b3b340;
}

.progress-bar .track{
    -fx-background-color:#0E1629;
    -fx-background-radius:10px;
}

.progress-bar .bar{
    -fx-background-color:linear-gradient(to right,#B71D23,red);
    -fx-background-radius:10px;
}

.text-input, .list-cell, .list-view, .list-view:focused{
    -fx-background-color:#324053;
    -fx-text-fill:#e6e6e6;
    -fx-background-radius:2px;
}